body {
color:#f8f8f8;
background-repeat: repeat;
background-color: #313030;
}

.menubar:hover {
    color: white;
}

.distance-table {
    padding-bottom: 50px;
}

.menuButton {
color: white;
}


.header {
background-color: #d8d7d7;
padding: 20px;
text-align: center;
color: #353535;
margin-bottom: 10px;
}

.passwd {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 2px;
}

.header h1 {
margin: 0;
font-size: 32px;
font-weight: bold;
letter-spacing: 2px;
text-transform: uppercase;
line-height: 1.2;
text-shadow: 6px 6px 6px #0000001a;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.dataTables_filter {
float: right;
}

.buttons-pdf {
background-color: white;
border: none;
color: #333;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 4px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.dataTables_length{
    margin-top: 10px;
}


.dt-buttons{
    text-align: center;
}

.dataTables_paginate{
    text-align: end;
}

.bar-color{
background-color: #d0cdcd;
padding-left: 80px;
}

.padding-right{
display: flex;
justify-content: space-between;
}

h1 {
font-family: "Andela Mono", monospace;
margin-top: 50px;
color: black; font-size: 32px;
letter-spacing: 2px;
line-height: 1.2;
text-shadow: 6px 6px 6px #0000001a;
font-weight: bold;
padding-top: 50px;
margin-bottom: 30px;
text-align: center;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

}
h2{
font-size: 35px;
color: #d8d7d7;
text-align: start;
letter-spacing: 3px;
font-weight: lighter;
margin-right: 500px;
border-bottom: 1px solid #d8d7d7;
padding-bottom: 5px;
}

h4 {
color: #5f6263;
letter-spacing: 3px;
font-weight: lighter;
}
h5{
color: black;
text-align: center;
letter-spacing: 3px;
font-weight: lighter;
text-decoration: none;
}

.analysis-table {
margin-top: 20px;
width: 100%;
border-collapse: collapse;
}

.analysis-table thead th {
background-color: #f2f2f2;
color: #333;
font-weight: bold;
padding: 10px;
text-align: left;
border-bottom: 1px solid #ddd;
}

.analysis-table tbody td {
padding: 10px;
border-bottom: 1px solid #ddd;
}

.group-title {
font-weight: bold;
}

.white-text{
color: white;
}

.custom-button {
background-color: #228b22;
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 4px;
font-size: 16px;
}

.custom-button:hover {
background-color: rgb(106, 203, 9);
}

.custom-input {
background-color: #228b22;
border: none;
padding: 10px 20px;
border-radius: 4px;
font-size: 16px;
color: #fff;
}

.custom-input:hover {
border-color: rgb(106, 203, 9);
}

.completion-status {
height: 100%;
padding: 5px;
text-align: center;
border-radius: 5px;
font-weight: bold;
}

.custom-link {
color: black; 
}

.dropdown{
position: relative;
}

.dropdown-menu{
    margin-top: 6px;
max-height: 150px; 
overflow-y: auto;
}


.notification-message {
    display: none;
    background-color: #b16706;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}
